body
{
  margin:0;
}

#canvas-container
{
  width: 100vw;
  height: 100vh;
  background-color: darkblue;
}

#sidebar
{
  position:absolute;
  top: 0;
  right:0;
  background-color: rgba(255, 255, 255, 0.25);
  width: 25%;
  margin-top: 10px;
  margin-right: 10px;
}
